@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHrv4kjgoGqM7E3b8s8.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3w-oc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3p-kc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHpv4kjgoGqM7EPCw.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3_-gc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E30-8c4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3t-4c4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3q-0c4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3j-wc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Federo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/federo/v17/iJWFBX-cbD_ETsbmjQ.ttf) format('truetype');
}
:root {
  --bt-orange: #F27121;
  --bt-green: #66D038;
  --bt-blue: #0A8BC4;
  --bt-text: #666;
}
p,
a,
span {
  font-family: 'Barlow', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Federo', sans-serif;
}
body {
  height: 3000px;
  background-color: rebeccapurple;
}
.navbar-scroll {
  height: 100px;
  z-index: 999;
}
.navbar-scroll::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: #000;
  opacity: 0.8;
  z-index: -9;
}
.navbar-scroll .nav-wrapper_right .phone {
  height: 36px;
  box-sizing: border-box;
  margin-right: 90px;
}
.navbar-scroll .nav-wrapper_right .phone .number {
  color: #fff;
  padding-left: 0.8em;
  position: relative;
  top: -3px;
}
.navbar-scroll .nav-wrapper_right .phone .number p {
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-scroll .nav-wrapper_right .phone .number h5 {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
}
.navbar-scroll .nav-wrapper_right .nav-wrapper_menu-toggler button span {
  position: relative;
  height: 3px;
  width: 22px;
  margin: 5px 0;
  background-color: #fff;
  display: block;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-scroll .nav-wrapper_right .nav-wrapper_menu-toggler button:focus {
  box-shadow: none;
}
.navbar-fixed {
  height: 100px;
  background-color: #fff;
  z-index: 1;
}
.navbar-fixed .nav-wrapper_right .phone {
  height: 36px;
  box-sizing: border-box;
  margin-right: 90px;
}
.navbar-fixed .nav-wrapper_right .phone .number {
  color: #000;
  padding-left: 0.8em;
  position: relative;
  top: -3px;
}
.navbar-fixed .nav-wrapper_right .phone .number p {
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-fixed .nav-wrapper_right .phone .number h5 {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
}
.navbar-fixed .nav-wrapper_right .nav-wrapper_menu-toggler button span {
  position: relative;
  height: 3px;
  width: 22px;
  margin: 5px 0;
  background-color: var(--bt-blue);
  display: block;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-fixed .nav-wrapper_right .nav-wrapper_menu-toggler button:focus {
  box-shadow: none;
}
#hero-wrapper {
  height: 100vh;
  background: url(/images/hero@2x.jpg) center center no-repeat;
  background-size: cover;
  z-index: 99;
}
#welcome-Wrapper {
  position: relative;
  display: block;
  padding: 120px 0 120px;
  z-index: 1;
  background-color: #F1F1F1;
}
#welcome-Wrapper .welcome-one__left {
  max-width: 600px;
  margin: 0 auto;
}
#welcome-Wrapper .welcome-one__left .welcome-one__img-box {
  position: relative;
  display: block;
}
#welcome-Wrapper .welcome-one__left .welcome-one__img-box::before {
  position: absolute;
  bottom: 0;
  left: -40px;
  height: 224px;
  width: 20px;
  content: "";
  background-color: var(--bt-green);
}
#welcome-Wrapper .welcome-one__left .welcome-one__img-box .welcome-one__img img {
  width: 100%;
  transition: all 900ms ease;
  /*mix-blend-mode: luminosity;*/
  height: 796px;
  object-fit: cover;
}
#welcome-Wrapper .welcome-one__experience {
  position: absolute;
  top: 74px;
  left: -94px;
  background-color: #ffffff;
  box-shadow: 0px 10px 60px 0px rgba(161, 156, 156, 0.1);
  padding: 29px 40px 28px;
  display: flex;
  align-items: center;
  z-index: 2;
}
#welcome-Wrapper .welcome-one__experience .welcome-one__experience-icon {
  position: relative;
  width: max-content;
  display: inline-block;
}
#welcome-Wrapper .welcome-one__experience .welcome-one__experience-icon span {
  position: relative;
  display: inline-block;
  transition: transform 500ms linear, color 500ms ease;
  transform: scale(1);
}
#welcome-Wrapper .welcome-one__experience .welcome-one__experience-icon span::before {
  content: url(/images/experience.svg);
}
#welcome-Wrapper .welcome-one__experience .welcome-one__experience-content {
  margin-left: 30px;
  display: inline-block;
  vertical-align: text-bottom;
}
#welcome-Wrapper .welcome-one__experience .welcome-one__experience-content .welcome-one__experience-title {
  font-size: 16px;
  color: var(--bt-text);
  line-height: 24px;
}
#welcome-Wrapper .welcome-one__experience .welcome-one__experience-content .welcome-one__experience-title span {
  font-size: 20px;
  color: #000;
}
#welcome-Wrapper .welcome-one__right {
  position: relative;
  display: block;
  margin-top: 60px;
}
@media only screen and (min-width: 768px) {
  #welcome-Wrapper .welcome-one__right {
    max-width: 600px;
    margin: 80px auto 0;
  }
}
#welcome-Wrapper .welcome-one__right .section-title {
  margin-bottom: 26px;
}
#welcome-Wrapper .welcome-one__right .section-title .section-title__tagline {
  position: relative;
  display: block;
  color: var(--bt-blue);
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 6px;
  font-weight: 600;
}
#welcome-Wrapper .welcome-one__right .section-title .section-title__title {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
}
#welcome-Wrapper .welcome-one__right p.welcome-one__right-text {
  margin: 0 0 32 0;
  overflow-wrap: break-word;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.889em;
  color: var(--bt-text);
}
#welcome-Wrapper .welcome-one__right .welcome-one__bottom-title {
  font-size: 20px;
  color: var(--bt-blue);
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 0.1em;
}
#welcome-Wrapper .welcome-one__right ul.welcome-one__points {
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 39px;
}
#welcome-Wrapper .welcome-one__right ul.welcome-one__points li {
  position: relative;
  display: flex;
}
#welcome-Wrapper .welcome-one__right ul.welcome-one__points li .icon {
  flex-basis: 10%;
}
#welcome-Wrapper .welcome-one__right ul.welcome-one__points li .icon .icon-tick::before {
  content: url(/images/green-tick.svg);
  margin-right: 11px;
  top: 7px;
  position: relative;
}
#welcome-Wrapper .welcome-one__right ul.welcome-one__points li .text {
  position: relative;
}
#welcome-Wrapper .welcome-one__right ul.welcome-one__points li .text p {
  margin: 0 0 32 0;
  overflow-wrap: break-word;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.889em;
  color: var(--bt-text);
}
#welcome-Wrapper .welcome-one__right .welcome-one__bottom-right-content {
  position: relative;
  display: block;
  background-color: #E8E7E7;
  padding: 40px 39px 40px;
}
#welcome-Wrapper .welcome-one__right .welcome-one__bottom-right-content h4 {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 49px;
}
#welcome-Wrapper .welcome-one__right .welcome-one__bottom-right-content .icon-craft::before {
  content: url(/images/craft.svg);
}
#welcome-Wrapper .welcome-one__right .welcome-one__bottom-right-content .thm-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: none !important;
  background-color: transparent;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 36px;
  font-size: 12px;
  transition: all 0.3s linear;
  overflow: hidden;
  border: 2px solid var(--bt-blue);
  z-index: 1;
  text-decoration: none;
}
