@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHrv4kjgoGqM7E3b8s8.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3w-oc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3p-kc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHpv4kjgoGqM7EPCw.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3_-gc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E30-8c4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3t-4c4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3q-0c4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v11/7cHqv4kjgoGqM7E3j-wc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Federo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/federo/v17/iJWFBX-cbD_ETsbmjQ.ttf) format('truetype');
}
:root {
  --bt-orange: #F27121;
  --bt-green: #66D038;
  --bt-blue: #0A8BC4;
  --bt-text: #666;
}
p,
a,
span {
  font-family: 'Barlow', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Federo', sans-serif;
}
.container {
  max-width: 1200px;
}
.navbar-scroll {
  height: 100px;
  z-index: 100;
  position: absolute;
  width: 100%;
}
.navbar-scroll::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.8;
  z-index: -9;
  border-bottom: 1px solid #C6C6C6;
}
.navbar-scroll .nav-wrapper_right .phone {
  height: 36px;
  box-sizing: border-box;
  margin-right: 90px;
}
.navbar-scroll .nav-wrapper_right .phone .number {
  color: #fff;
  padding-left: 0.8em;
  position: relative;
  top: -3px;
}
.navbar-scroll .nav-wrapper_right .phone .number p {
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-scroll .nav-wrapper_right .phone .number h5 {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
}
.navbar-scroll .nav-wrapper_right .nav-wrapper_menu-toggler button span {
  position: relative;
  height: 3px;
  width: 22px;
  margin: 5px 0;
  background-color: #fff;
  display: block;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-scroll .nav-wrapper_right .nav-wrapper_menu-toggler button:focus {
  box-shadow: none;
}
.navbar-fixed {
  height: 100px;
  background-color: #fff;
  z-index: 1;
}
.navbar-fixed.fixed-top {
  transform: translateY(0);
  visibility: visible;
  z-index: 99;
}
.navbar-fixed .nav-wrapper_right .phone {
  height: 36px;
  box-sizing: border-box;
  margin-right: 90px;
}
.navbar-fixed .nav-wrapper_right .phone .number {
  color: #000;
  padding-left: 0.8em;
  position: relative;
  top: -3px;
}
.navbar-fixed .nav-wrapper_right .phone .number p {
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-fixed .nav-wrapper_right .phone .number h5 {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
}
.navbar-fixed .nav-wrapper_right .nav-wrapper_menu-toggler button span {
  position: relative;
  height: 3px;
  width: 22px;
  margin: 5px 0;
  background-color: var(--bt-blue);
  display: block;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-fixed .nav-wrapper_right .nav-wrapper_menu-toggler button:focus {
  box-shadow: none;
}
#hero-wrapper {
  height: 66vh;
  background: url(../images/hero@2x.jpg) center center no-repeat;
  background-size: cover;
  z-index: 99;
  position: relative;
}
@media (min-width: 768px) {
  #hero-wrapper {
    -webkit-animation: zoomIn 40s linear infinite;
    animation: zoomIn 40s linear infinite;
    position: relative;
    transition: all 500ms ease;
  }
  @keyframes zoomIn {
    0% {
      background-size: 160%;
      transition: all 500ms ease;
    }
    100% {
      background-size: 210%;
      transition: all 500ms ease;
    }
  }
}
@media (min-width: 960px) {
  #hero-wrapper {
    height: 100vh;
  }
  @keyframes zoomIn {
    0% {
      background-size: 105%;
      transition: all 500ms ease;
    }
    100% {
      background-size: 135%;
      transition: all 500ms ease;
    }
  }
}
#hero-wrapper .floating-area {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#hero-wrapper .floating-area::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  display: block;
  position: absolute;
}
#hero-wrapper .floating-area ul.clients {
  padding: 1em 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  z-index: 9;
  position: relative;
}
#hero-wrapper .floating-area ul.clients li {
  max-height: 65px;
  margin: auto 0;
}
#hero-wrapper .floating-area ul.clients li img {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  #hero-wrapper .floating-area ul.clients li img {
    width: 75%;
  }
}
@media only screen and (min-width: 992px) {
  #hero-wrapper .floating-area ul.clients li img {
    width: 100%;
  }
}
#hero-wrapper .hero-content {
  padding: 10em 0 7em;
  position: relative;
}
@media only screen and (min-width: 992px) {
  #hero-wrapper .hero-content {
    padding: 24vh 0 18vh;
  }
}
#hero-wrapper .hero-content h1 {
  font-size: 270%;
  margin-bottom: 0.6em;
}
@media only screen and (min-width: 992px) {
  #hero-wrapper .hero-content h1 {
    font-size: 350%;
  }
}
#hero-wrapper .hero-content p {
  font-weight: 1;
  font-size: 125%;
}
@media only screen and (min-width: 992px) {
  #hero-wrapper .hero-content p {
    font-size: 190%;
  }
}
#hero-wrapper .hero-content .buttons {
  margin-top: 2em;
}
#hero-wrapper .hero-content .buttons .btn {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70%;
  padding: 0.8em 2em;
  border-radius: 0;
  transition: all 500ms ease;
}
@media only screen and (min-width: 992px) {
  #hero-wrapper .hero-content .buttons .btn {
    font-size: 80%;
    padding: 1.1em 3em;
  }
}
#hero-wrapper .hero-content .buttons .btn-blue {
  background: var(--bt-blue);
  margin-right: 6px;
}
#hero-wrapper .hero-content .buttons .btn-blue:hover {
  background: var(--bt-green);
  transition: all 500ms ease;
}
#hero-wrapper .hero-content .buttons .btn-white {
  background: transparent;
  border: 3px solid #fff;
}
#hero-wrapper .hero-content .buttons .btn-white:hover {
  transition: all 500ms ease;
  background: #fff;
  color: #000;
}
#welcome-Wrapper {
  position: relative;
  display: block;
  padding: 120px 0 120px;
  z-index: 1;
  background-color: #F1F1F1;
}
#welcome-Wrapper .welcome-one__left {
  max-width: 600px;
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  #welcome-Wrapper .welcome-one__left {
    margin-right: 70px;
  }
}
#welcome-Wrapper .welcome-one__left .welcome-one__img-box {
  position: relative;
  display: block;
}
#welcome-Wrapper .welcome-one__left .welcome-one__img-box::before {
  position: absolute;
  bottom: 0;
  left: -40px;
  height: 224px;
  width: 20px;
  content: "";
  background-color: var(--bt-green);
}
#welcome-Wrapper .welcome-one__left .welcome-one__img-box .welcome-one__img img {
  width: 100%;
  transition: all 900ms ease;
  /*mix-blend-mode: luminosity;*/
  height: 796px;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  #welcome-Wrapper .welcome-one__left .welcome-one__img-box .welcome-one__img img {
    height: 636px;
  }
}
#welcome-Wrapper .welcome-one__experience {
  position: absolute;
  top: 74px;
  left: -94px;
  background-color: #ffffff;
  box-shadow: 0px 10px 60px 0px rgba(161, 156, 156, 0.1);
  padding: 29px 40px 28px;
  display: flex;
  align-items: center;
  z-index: 2;
}
#welcome-Wrapper .welcome-one__experience .welcome-one__experience-icon {
  position: relative;
  width: max-content;
  display: inline-block;
}
#welcome-Wrapper .welcome-one__experience .welcome-one__experience-icon span {
  position: relative;
  display: inline-block;
  transition: transform 500ms linear, color 500ms ease;
  transform: scale(1);
}
#welcome-Wrapper .welcome-one__experience .welcome-one__experience-icon span::before {
  content: url(../images/experience.svg);
}
#welcome-Wrapper .welcome-one__experience .welcome-one__experience-content {
  margin-left: 30px;
  display: inline-block;
  vertical-align: text-bottom;
}
#welcome-Wrapper .welcome-one__experience .welcome-one__experience-content .welcome-one__experience-title {
  font-size: 16px;
  color: var(--bt-text);
  line-height: 24px;
}
#welcome-Wrapper .welcome-one__experience .welcome-one__experience-content .welcome-one__experience-title span {
  font-size: 20px;
  color: #000;
}
#welcome-Wrapper .welcome-one__right {
  position: relative;
  display: block;
  margin-top: 60px;
}
@media only screen and (min-width: 768px) {
  #welcome-Wrapper .welcome-one__right {
    max-width: 600px;
    margin: 80px auto 0;
  }
}
@media only screen and (min-width: 992px) {
  #welcome-Wrapper .welcome-one__right {
    max-width: unset;
    margin: 0;
  }
}
#welcome-Wrapper .welcome-one__right .section-title {
  margin-bottom: 26px;
}
#welcome-Wrapper .welcome-one__right .section-title .section-title__tagline {
  position: relative;
  display: block;
  color: var(--bt-blue);
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 6px;
  font-weight: 600;
}
#welcome-Wrapper .welcome-one__right .section-title .section-title__title {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
}
#welcome-Wrapper .welcome-one__right p.welcome-one__right-text {
  margin: 0 0 32 0;
  overflow-wrap: break-word;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.889em;
  color: var(--bt-text);
}
@media only screen and (min-width: 992px) {
  #welcome-Wrapper .welcome-one__right p.welcome-one__right-text {
    padding-bottom: 32px;
  }
}
#welcome-Wrapper .welcome-one__right .welcome-one__bottom-title {
  font-size: 20px;
  color: var(--bt-blue);
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 0.1em;
}
#welcome-Wrapper .welcome-one__right ul.welcome-one__points {
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 39px;
}
#welcome-Wrapper .welcome-one__right ul.welcome-one__points li {
  position: relative;
  display: flex;
}
#welcome-Wrapper .welcome-one__right ul.welcome-one__points li .icon {
  flex-basis: 10%;
  position: relative;
  margin-right: 8px;
}
#welcome-Wrapper .welcome-one__right ul.welcome-one__points li .icon .icon-tick::before {
  content: url(../images/green-tick.svg);
  margin-right: 11px;
  top: 7px;
  position: relative;
}
#welcome-Wrapper .welcome-one__right ul.welcome-one__points li .text {
  position: relative;
}
#welcome-Wrapper .welcome-one__right ul.welcome-one__points li .text p {
  margin: 0;
  overflow-wrap: break-word;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.889em;
  color: var(--bt-text);
}
#welcome-Wrapper .welcome-one__right .welcome-one__bottom-right-content {
  position: relative;
  display: block;
  background-color: #E8E7E7;
  padding: 40px 39px 40px;
}
#welcome-Wrapper .welcome-one__right .welcome-one__bottom-right-content h4 {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 49px;
}
#welcome-Wrapper .welcome-one__right .welcome-one__bottom-right-content .icon-craft::before {
  content: url(../images/craft.svg);
}
#welcome-Wrapper .welcome-one__right .welcome-one__bottom-right-content .thm-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: none !important;
  background-color: transparent;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 36px;
  font-size: 12px;
  transition: all 0.3s linear;
  overflow: hidden;
  border: 2px solid var(--bt-blue);
  z-index: 1;
  text-decoration: none;
}
#services-Wrapper {
  padding: 60px 0;
  background: url(../images/services-bg.png), radial-gradient(farthest-side at 50% 46%, #274078, #14161D);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
@media only screen and (min-width: 768px) {
  #services-Wrapper {
    padding: 60px 30px;
  }
}
@media only screen and (min-width: 992px) {
  #services-Wrapper {
    padding: 120px 0 82px;
  }
}
#services-Wrapper p.super {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
#services-Wrapper ul.services-list {
  list-style: none;
  display: grid;
  grid-gap: 2.5em;
}
@media only screen and (min-width: 768px) {
  #services-Wrapper ul.services-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  #services-Wrapper ul.services-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
#services-Wrapper ul.services-list li.service {
  padding-right: 0.8em;
  position: relative;
  transition: all 500ms ease;
}
@media only screen and (min-width: 992px) {
  #services-Wrapper ul.services-list li.service {
    padding-right: 1.5em;
    padding-bottom: 2em;
  }
}
#services-Wrapper ul.services-list li.service .icon {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  #services-Wrapper ul.services-list li.service .icon {
    margin-bottom: 30px;
  }
}
#services-Wrapper ul.services-list li.service .number {
  margin-bottom: 20px;
}
#services-Wrapper ul.services-list li.service .title {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  #services-Wrapper ul.services-list li.service .title {
    margin-bottom: 30px;
  }
}
#services-Wrapper ul.services-list li.service .title h2 {
  text-transform: uppercase;
}
#services-Wrapper ul.services-list li.service ul.sub-services {
  list-style: none;
  position: relative;
  display: grid;
  grid-gap: 0.5em;
}
#services-Wrapper ul.services-list li.service ul.sub-services li {
  position: relative;
}
#services-Wrapper ul.services-list li.service ul.sub-services li::before {
  content: url(../images/tick-small.svg);
  margin-right: 10px;
  position: absolute;
}
#services-Wrapper ul.services-list li.service ul.sub-services li a {
  text-decoration: none;
  margin-left: 20px;
  display: block;
  line-height: 22px;
}
#services-Wrapper ul.services-list li.service ul.sub-services li a:hover {
  text-decoration: underline;
}
#services-Wrapper ul.services-list li.service div.arrow {
  height: 12px;
  background: url(../images/arrow-right.svg) left center no-repeat;
  margin-top: 20px;
  position: absolute;
  width: 38px;
  bottom: 0;
  background-size: 80%;
  transition: all 500ms ease;
}
#services-Wrapper ul.services-list li.service:hover {
  transition: all 500ms ease;
}
#services-Wrapper ul.services-list li.service:hover div.arrow {
  background: url(../images/arrow-right-green.svg) left center no-repeat;
  transition: all 500ms ease;
}
#services-Wrapper ul.services-list li.service:hover .title h2 {
  color: var(--bt-blue) !important;
}
#services-Wrapper div.qoute {
  padding: 40px 0 0 0;
  border-top: 1px solid #585858;
  margin-top: 3em;
}
#services-Wrapper div.qoute p {
  color: #898989;
  text-align: center;
  font-size: 120%;
  font-weight: 600;
}
#services-Wrapper div.qoute p a {
  text-decoration: none;
  color: #fff;
  position: relative;
  border-bottom: 2px solid var(--bt-orange);
}
#portfolio-wrapper {
  background: linear-gradient(to bottom, transparent 50%, #F5F4F4 50%), url(../images/portfolio-bg@2x.png);
  padding: 60px 0;
}
@media only screen and (min-width: 992px) {
  #portfolio-wrapper {
    padding: 120px 0 82px;
  }
}
#portfolio-wrapper h2.title {
  text-align: center;
  margin-bottom: 2em;
  line-height: 38px;
}
#portfolio-wrapper h2.title em {
  font-style: normal;
  border-bottom: 2px solid var(--bt-orange);
}
@media only screen and (min-width: 992px) {
  #portfolio-wrapper h2.title {
    padding: 0 7em;
    line-height: 1.6;
    font-size: 220%;
  }
}
#portfolio-wrapper .content {
  padding: 1.5em;
  background: #fff;
}
@media only screen and (min-width: 768px) {
  #portfolio-wrapper .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
    background: url('..../images/portfolio-mesh.png') center center repeat-x, #fff;
  }
}
@media only screen and (min-width: 992px) {
  #portfolio-wrapper .content {
    padding: 3.5em;
    grid-gap: 2em;
  }
}
#portfolio-wrapper .content .left .img-wrapper {
  position: relative;
  margin-bottom: 2em;
}
@media only screen and (min-width: 768px) {
  #portfolio-wrapper .content .left .img-wrapper {
    margin-bottom: unset;
    width: 95%;
    left: 18px;
  }
  #portfolio-wrapper .content .left .img-wrapper::before {
    position: absolute;
    bottom: 0;
    left: -18px;
    height: 160px;
    width: 12px;
    content: "";
    background-color: var(--bt-orange);
  }
}
#portfolio-wrapper .content .left .img-wrapper img {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  #portfolio-wrapper .content .right {
    padding-top: 2em;
  }
}
#portfolio-wrapper .content .right h5 {
  text-transform: uppercase;
  color: var(--bt-blue);
  line-height: 30px;
}
@media only screen and (min-width: 992px) {
  #portfolio-wrapper .content .right h5 {
    font-size: 150%;
    line-height: 1.6;
    margin-bottom: 1.2em;
  }
}
#portfolio-wrapper .content .right p {
  color: var(--bt-text);
}
@media only screen and (min-width: 992px) {
  #portfolio-wrapper .content .right p {
    font-size: 120%;
    line-height: 1.8;
    margin-bottom: 2.5em;
  }
}
#portfolio-wrapper .content .right .btn {
  border: 3px solid var(--bt-orange);
  text-transform: uppercase;
  border-radius: 0;
  font-size: 75%;
  font-weight: 700;
  padding: 12px 30px;
}
@media only screen and (min-width: 992px) {
  #portfolio-wrapper .content .right .btn {
    font-size: 80%;
    padding: 15px 40px;
  }
}
#portfolio-wrapper .content .right .btn:hover {
  color: #fff;
  background-color: var(--bt-orange);
}
footer {
  background-color: #14161D;
}
footer .footer-upper {
  padding: 20px 0 0;
}
@media only screen and (min-width: 768px) {
  footer .footer-upper {
    padding: 40px 0 30px;
    background: url(../images/footer-top-bg@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
@media only screen and (min-width: 992px) {
  footer .footer-upper {
    padding: 45px 0;
  }
}
footer .footer-upper h5 {
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  footer .footer-upper h5 {
    text-align: left;
  }
}
footer .footer-upper p {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  footer .footer-upper p {
    text-align: left;
  }
}
footer .footer-upper p a {
  text-decoration: none;
  color: var(--bt-green);
}
footer .footer-upper ul.socials {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 26%;
  margin: 1em auto;
}
@media only screen and (min-width: 768px) {
  footer .footer-upper ul.socials {
    margin: 0.5em 0 0 auto;
  }
}
footer .footer-upper ul.socials li a {
  color: #fff;
  font-size: 18px;
  transition: all 500ms ease;
}
@media only screen and (min-width: 992px) {
  footer .footer-upper ul.socials li a {
    font-size: 22px;
    transition: all 500ms ease;
  }
}
footer .footer-upper ul.socials li a:hover {
  color: var(--bt-orange);
}
footer .footer-middle {
  padding: 20px 0;
}
@media only screen and (min-width: 768px) {
  footer .footer-middle {
    padding: 40px 0;
  }
}
@media only screen and (min-width: 992px) {
  footer .footer-middle {
    padding: 55px 0;
  }
}
footer .footer-middle h4 {
  color: #fff;
  margin-bottom: 1em;
  text-transform: uppercase;
}
footer .footer-middle ul {
  padding: 0;
  list-style: none;
  display: grid;
}
footer .footer-middle ul li p {
  color: #999999;
}
footer .footer-middle ul li a {
  text-decoration: none;
  color: #999999;
  transition: all 500ms ease;
}
footer .footer-middle ul li a:hover {
  color: #fff;
  transition: all 500ms ease;
}
footer .footer-middle ul li i {
  color: #D8D6D6;
}
footer .footer-middle .contacts ul li {
  display: grid;
  grid-template-columns: 1fr 10fr;
}
footer .footer-middle .links ul {
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
  display: block;
}
@media only screen and (min-width: 992px) {
  footer .footer-middle .links ul {
    column-gap: 80px;
    -moz-column-gap: 80px;
    -webkit-column-gap: 80px;
  }
}
@media only screen and (min-width: 992px) {
  footer .footer-middle .links ul li {
    margin-bottom: 10px;
    min-width: 180px;
  }
}
footer .footer-middle .image {
  width: 30%;
  margin: 1em auto;
}
@media only screen and (min-width: 768px) {
  footer .footer-middle .image {
    margin: 1em 0 0 auto;
    width: 70%;
  }
}
@media only screen and (min-width: 992px) {
  footer .footer-middle .image {
    margin: 0 0 0 auto;
    width: 55%;
  }
}
footer .footer-middle .image img {
  width: 100%;
}
footer .footer-lower {
  padding: 30px 0;
  border-top: 1px solid #585858;
}
footer .footer-lower p {
  color: #D8D6D6;
  text-align: center;
  font-size: 84%;
}
footer .footer-lower p em {
  font-style: normal;
  color: var(--bt-orange);
}
@media only screen and (min-width: 768px) {
  footer .footer-lower p.copyright {
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer-lower p.disclaimer {
    text-align: right;
  }
}
